{% extends '@components/layout.twig' %}
{% block content %}
    <div class="container mx-auto p-4">
        <div class="my-2">
            <h1 class="text-2xl font-bold text-center">
                Projekcije
            </h1>
            <div class="flex mt-2">
                <a href="{{ route('admin.screenings.create') }}"
                    class="ms-auto px-2 p-1 rounded-md bg-blue-500 hover:bg-blue-700">
                    Dodaj projekciju
                </a>
            </div>
        </div>
        {% for screening in screenings %}
            <div class="w-full flex items-center mt-2 p-2 gap-2 bg-slate-800 rounded-md">
                <p>
                    {{ screening.movie.title }} - {{
                        screening.time|date('d.m.')
                    }} u {{ screening.time|date('H:i') }} - {{
                        screening.hall.name
                    }}
                </p>
                <a href="{{ route('admin.screenings.show', screening.id) }}"
                    class="ms-auto px-2 p-1 rounded-md bg-blue-500 hover:bg-blue-700">
                    Prikaži
                </a>
                <a href="{{ route('admin.screenings.destroy', screening.id) }}"
                    class="px-2 p-1 rounded-md bg-red-500 hover:bg-red-800">
                    Obriši
                </a>
            </div>
        {% endfor %}
        <div class="p-4">
            {{ screenings.links|raw }}
        </div>
    </div>
{% endblock %}
