<nav class="p-4 flex gap-4 bg-slate-800">
    <a href="/" class="{{ is_route('homepage') ? 'active' : '' }}">Početna</a>
    <a href="{{ route('movies.index') }}"
        class="{{ is_route('movies.*') ? 'active' : '' }}">
        Filmovi
    </a>

    {% if auth_check() %}
        <a href="{{ route('tickets.index') }}"
            class="{{ is_route('tickets.*') ? 'active' : '' }}">
            Karte
        </a>
        <a href="{{ route('messages.index') }}"
            class="{{ is_route('messages.*') ? 'active' : '' }}">
            Poruke
        </a>
        <a href="{{ route('reviews.index') }}"
            class="{{ is_route('reviews.*') ? 'active' : '' }}">
            Recenzije
        </a>
        <a href="/profile" class="ms-auto {{ is_route('profile') ? 'active' : '' }}">
            Profil
        </a>
    {% else %}
        <a href="/login"
            class="ms-auto {{ is_route('login') ? 'active' : '' }}">
            Login
        </a>
    {% endif %}
</nav>
