{% extends '@components/layout.twig' %}
{% block content %}
    <div class="container mx-auto p-4">
        <div class="my-2">
            <h1 class="text-2xl font-bold text-center">
                Karte
            </h1>
            <div class="flex mt-2">
                <form action="{{ route('admin.tickets.index') }}"
                    method="GET"
                    class="flex items-center gap-2">
                    <label for="title" class="text-gray-400">Film</label>
                    <input type="text"
                        name="title"
                        id="title"
                        class="p-1 rounded-md bg-slate-800"
                        value="{{ request('title') }}" />
                    <label for="date" class="text-gray-400">Datum</label>
                    <input type="date"
                        name="date"
                        id="date"
                        class="p-1 rounded-md bg-slate-800"
                        value="{{ request('date') }}" />
                    <label for="user" class="text-gray-400">Korisnik</label>
                    <input type="text"
                        name="user"
                        id="user"
                        class="p-1 rounded-md bg-slate-800"
                        value="{{ request('user') }}" />
                    <button type="submit"
                        class="ml-2 px-2 p-1 rounded-md bg-blue-500 hover:bg-blue-700">
                        Pretraži
                    </button>
                    <a href="{{ route('admin.tickets.index') }}"
                        class="ml-2 px-2 p-1 rounded-md bg-red-500 hover:bg-red-800">
                        Resetuj
                    </a>
                </form>
            </div>
        </div>
        {% for ticket in tickets %}
            <div class="w-full flex items-center mt-2 p-2 gap-2 bg-slate-800 rounded-md">
                <p class="{{ ticket.screening.time|date('Y-m-d') < 'now'|date('Y-m-d') ? 'text-gray-400' : '' }}">
                    {{ ticket.screening.movie.title }} - {{
                        ticket.screening.time|date('d.m.Y H:i')
                    }} - {{ ticket.user.name }}
                </p>
                <a href="{{ route('tickets.show', ticket.id) }}"
                    class="ms-auto px-2 p-1 rounded-md bg-green-500 hover:bg-green-700">
                    Pogledaj
                </a>
                <a href="{{ route('admin.tickets.destroy', ticket.id) }}"
                    class="px-2 p-1 rounded-md bg-red-500 hover:bg-red-800">
                    Obriši
                </a>
            </div>
        {% else %}
            <p class="text-center text-gray-400">
                Nema karata
            </p>
        {% endfor %}
        <div class="p-4">
            {{ tickets.links|raw }}
        </div>
    </div>
{% endblock %}
