{% extends '@components/layout.twig' %}
{% block content %}
    <div class="w-full sm:max-w-md mx-auto p-4 rounded-md bg-slate-800">
        <form action="{{ route('tickets.store', screening.id) }}" method="POST">
            {{ csrf_field() }}
            <h2 class="text-lg text-center">
                Kupi kartu
            </h2>
            <div>
                <a href="{{ route('movies.show', screening.movie.id) }}"
                    class="text-gray-400 hover:text-gray-300">
                    Nazad
                </a>
            </div>
            <div class="mt-4 flex flex-col gap-2">
                <p>
                    {{ screening.movie.title }}
                </p>
                <p>
                    {{ screening.time|date('d.m.') }} u {{
                        screening.time|date('H:i')
                    }} - {{ screening.hall.name }} ({{ screening.type }})
                </p>
                <p class="text-gray-400">
                    {{ screening.seats_available }}
                    slobodnih mesta
                </p>
            </div>
            {# Number of tickets #}
            <div class="flex flex-col mt-4">
                <label for="number_of_tickets" class="text-gray-400">
                    Broj karata
                </label>
                <input type="number"
                    name="number_of_tickets"
                    id="number_of_tickets"
                    class="rounded-md px-4 py-2 bg-slate-700 text-white"
                    value="{{ old('number_of_tickets') }}"
                    min="1"
                    max="{{ screening.seats_available }}"
                    required />
                {% if errors.has('number_of_tickets') %}
                    <p class="text-red-500 text-sm">
                        {{ errors.first('number_of_tickets') }}
                    </p>
                {% endif %}
            </div>
            {# Calculate price #}
            <div class="mt-4">
                <p>
                    <span class="text-gray-400">Ukupna cena:</span>
                    {{ screening.price }} RSD
                </p>
            </div>
            {# Submit #}
            <div class="flex mt-4">
                <input type="submit"
                    value="Kupi"
                    class="ms-auto bg-white text-black rounded-md px-4 py-2 hover:bg-blue-500 hover:text-white cursor-pointer" />
            </div>
        </form>
    </div>
{% endblock %}
