{% extends '@components/layout.twig' %}
{% block content %}
    <div class="w-full sm:max-w-md mx-auto p-4 rounded-md bg-slate-800">
        <h2 class="text-lg text-center">
            Karta
        </h2>
        <div>
            <a href="{{ route('movies.index') }}"
                class="text-gray-400 hover:text-gray-300">
                Nazad
            </a>
        </div>
        <div class="mt-4 flex flex-col gap-2">
            <p>
                <span class="text-gray-400">Film:</span>
                {{ ticket.screening.movie.title }} ({{ ticket.screening.movie.release_date.year }})
            </p>
            <p>
                <span class="text-gray-400">Tip projekcije:</span>
                {{ ticket.screening.type }}
            </p>
            <p>
                <span class="text-gray-400">Sala:</span>
                {{ ticket.screening.hall.name }}
            </p>
            <p>
                <span class="text-gray-400">Datum:</span>
                {{ ticket.screening.time|date('d.m.Y.') }}
            </p>
            <p>
                <span class="text-gray-400">Vreme:</span>
                {{ ticket.screening.time|date('H:i') }}
            </p>
            <p>
                <span class="text-gray-400">Cena:</span>
                {{ ticket.screening.price }} RSD
            </p>
            <p>
                <span class="text-gray-400">Sediste:</span>
                {{ ticket.seat }}
            </p>
            <p>
                <span class="text-gray-400">Kupac:</span>
                {{ ticket.user.name }}
            </p>
            <p>
                <span class="text-gray-400">Vreme kupovine:</span>
                {{ ticket.created_at|date('d.m.Y.') }} u {{
                    ticket.created_at|date('H:i')
                }}
            </p>
        </div>
    </div>
{% endblock %}
