{% extends '@components/layout.twig' %}
{% set title = 'Moj Bioskop' %}
{% block content %}
    <div class="max-w-sm mx-auto px-4 py-8 mt-8 bg-slate-800 rounded-lg shadow-lg">
        <div class="w-full">
            <p class="text-center">
                Zdravo, {{ user.name }}!
            </p>
        </div>
        <div class="mt-8 flex flex-col gap-4 justify-center">
            <a href="{{ route('tickets.index') }}"
                class="bg-slate-700 text-white text-center rounded-md px-4 py-2 hover:bg-blue-500 hover:text-white transition-colors duration-300">
                Moje karte
            </a>
            <a href="{{ route('tickets.past') }}"
                class="bg-slate-700 text-white text-center rounded-md px-4 py-2 hover:bg-blue-500 hover:text-white transition-colors duration-300">
                Istorija karata
            </a>
            <a href="{{ route('messages.index') }}"
                class="bg-slate-700 text-white text-center rounded-md px-4 py-2 hover:bg-blue-500 hover:text-white transition-colors duration-300">
                Moje poruke
            </a>
            <a href="{{ route('reviews.index') }}"
                class="bg-slate-700 text-white text-center rounded-md px-4 py-2 hover:bg-blue-500 hover:text-white transition-colors duration-300">
                Moje recenzije
            </a>
            <a href="{{ route('logout') }}"
                class="bg-slate-700 text-white text-center rounded-md mt-2 px-4 py-2 hover:bg-red-500 hover:text-white transition-colors duration-300">
                Odjavi se
            </a>
        </div>
    </div>
{% endblock %}
