{% extends '@components/layout.twig' %}
{% block content %}
    <div class="container mx-auto p-6 my-8 bg-slate-800 rounded-lg shadow-lg">
        <div class="flex justify-between items-center">
            <div class="flex flex-col gap-2">
                <h1 class="text-2xl font-bold">
                    {{ user.name }}
                </h1>
                <p>
                    <span class="text-gray-400">Email:</span>
                    {{ user.email }}
                </p>
                <p>
                    <span class="text-gray-400">Uloga:</span>
                    {{ user.isAdmin() ? 'Administrator' : '' }}
                    {{ user.isManager() ? 'Menadžer' : '' }}
                    {{ user.isUser() ? 'Korisnik' : '' }}
                </p>
                <p>
                    <span class="text-gray-400">Datum pridruživanja:</span>
                    {{ user.created_at|date('d.m.Y.') }}
                </p>
            </div>
            <div class="flex flex-col gap-4 justify-center">
                <a href="{{ route('admin.tickets.index') }}?user={{
                    user.name
                    }}"
                    class="bg-slate-700 text-white text-center rounded-md px-4 py-2 hover:bg-blue-500 hover:text-white transition-colors duration-300">
                    Karte
                </a>
                <a href="{{ route('admin.messages.index') }}?user={{ user.id }}"
                    class="bg-slate-700 text-white text-center rounded-md px-4 py-2 hover:bg-blue-500 hover:text-white transition-colors duration-300">
                    Poruke
                </a>
                <a href="{{ route('admin.reviews.index') }}?user={{ user.id }}"
                    class="bg-slate-700 text-white text-center rounded-md px-4 py-2 hover:bg-blue-500 hover:text-white transition-colors duration-300">
                    Recenzije
                </a>
            </div>
        </div>
        <div>
            <h2 class="text-xl font-bold mt-8 mb-4">
                Logovi
            </h2>
            {% for log in logs %}
                <div class="mt-2 container flex justify-between items-end gap-2 p-4 rounded-lg bg-gray-900">
                    <p>
                        {{ log.message }}
                    </p>
                    <p class="min-w-max text-gray-400">
                        {{ log.timestamp|date('d.m.Y. H:i') }}
                    </p>
                </div>
            {% else %}
                <p class="mt-4 text-gray-400">
                    Nema logova
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
